
assets/ships-v2/large/vt49decimator/textures/VT49-Decimator-Black.jpg

#silly mac file in every directory:
.DS_Store

#local Visual Studio Code settings:
.vscode

#Local Jetbrains Idea directory
*.idea

#Local VS Code TTS Editor directory
.tts/

#vim files
*~
*.swp

#ignore my symbolic link to the TTS plugin's temp dir
atom
vscode
bak
